@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
body {
	margin: 0;
}

div {
	text-align: center;
	position: relative;
}

div h1 {
	margin: 0;
	font-size: 20vw;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	line-height: 1.9;
}

/* 블랜드 모드를 활용하여 마스크 효과를 얻기위해 텍스트 색상 설정 */
.dark h1 {
	color: #fff;
}

/* 블랜드 모드를 활용하여 마스크 효과를 얻기위해 텍스트 색상 설정 */
.light h1 {
	color: #000;
	font-size: 19vw;
}

div img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.dark {
	background: #000;
}

.light {
	background: #fff;
}

/* 이미지에 블랜드 모드를 적용하여 마스크 효과를 얻음 */
.dark img {
	mix-blend-mode: darken;
}

/* 이미지에 블랜드 모드를 적용하여 마스크 효과를 얻음 */
.light img {
	mix-blend-mode: lighten;
}
