<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd">		
	
	<context:annotation-config/>
	
	<!-- byType - constructor -->
	<bean id="drum" class="wiring.anno.Drum"/>
	<bean id="piano" class="wiring.anno.Piano"/>
	<bean id="guitar" class="wiring.anno.Guitar"/>
	<bean id="lee" class="wiring.anno.Instrumentalist"/>
	
	<bean id="hello" class="wiring.anno.Hello"/>
	<bean id="bounce" class="wiring.anno.Bounce"/>
	<bean id="singer" class="wiring.anno.Singer"/>
	
	<bean id="two" class="wiring.anno.TwoManBand"/>
	<util:list id="ins">
		<ref bean="piano"/>
		<ref bean="guitar"/>
		<ref bean="drum"/>
	</util:list>
	
	<util:map id="ss">
		<entry key="HELLO" value-ref="hello"/>
		<entry key="BOUNCE" value-ref="bounce"/>
	</util:map>
</beans>








