<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
<!-- HelloServlet.class 의 mapping -->  
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
	<servlet-class>studyforweb.HelloServlet</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
	<url-pattern>/aaa</url-pattern>
  </servlet-mapping>

<!-- PersonServlet.class 의 mapping -->
  <servlet>
  <servlet-name>PersonServlet</servlet-name>
  <servlet-class>studyforweb.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PersonServlet</servlet-name>
  <url-pattern>/person</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>level</param-name>
  	<param-value>10</param-value>
  </context-param>
  
  
<!-- 에러 페이지 관리하기 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404code.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/500code.jsp</location>
  </error-page>
  
<!-- Connection Pool 세팅 -->  

<!-- SimpleController Mapping하기 -->
	<servlet>
		<servlet-name>SimpleController</servlet-name>
		<servlet-class>mvc.SimpleController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SimpleController</servlet-name>
		<url-pattern>/simple</url-pattern>
	</servlet-mapping>
	
<!-- Controller Mapping하기 -->
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>mvc.Controller</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>WEB-INF/handler.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>