<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">		
	
	<!-- byName 
	지금은 객체를 와이어링 할 때 쓰는 것임-->
	<!-- <bean id="drum" class="wiring.auto.Drum"/>
	<bean id="piano" class="wiring.auto.Piano"/>
	<bean id="instrument" class="wiring.auto.Guitar"/>
	
	<bean id="lee" class="wiring.auto.Instrumentalist" autowire="byName">
		<property name="song" value="Hello"/>
		<property name="instrument" ref="drum"/>
	</bean> -->

	
	<!-- byType -->
	<!-- <bean id="drum" class="wiring.auto.Drum" primary="true"/>
	<bean id="piano" class="wiring.auto.Piano" autowire-candidate="false"/>
	<bean id="guitar" class="wiring.auto.Guitar"/>
	
	<bean id="lee" class="wiring.auto.Instrumentalist" autowire="byType">
		<property name="song" value="Hello"/>
	</bean>
	 -->
	
	
	<!-- byType - constructor -->
	<bean id="drum" class="wiring.auto.Drum" primary="true"/>
	<bean id="piano" class="wiring.auto.Piano" autowire-candidate="false"/>
	<bean id="guitar" class="wiring.auto.Guitar"/>
	
	<bean id="lee" class="wiring.auto.Instrumentalist" autowire="constructor">
		<constructor-arg value="hello"/>
	</bean>
	
	
	<!-- Singer -->
	<bean id="hello" class="wiring.auto.Hello" primary="true"/>
	<bean id="bounce" class="wiring.auto.Bounce"/>
	
	<bean id="singer" class="wiring.auto.Singer" autowire="byType">
		<property name="name" value="조용필"/>
	</bean>
</beans>








